<?xml version="1.0"?>
<!--
/**
* Copyright 2019 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aheadworks" translate="label" sortOrder="300">
            <label>Aheadworks Extensions</label>
        </tab>
        <section id="aw_wbtab" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Who Bought This Also Bought</label>
            <tab>aheadworks</tab>
            <resource>Aheadworks_Wbtab::config_aw_wbtab</resource>
            <group id="product_page" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Block at Product Page</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Block at Product Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="block_name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Name</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="block_position" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Position</label>
                    <source_model>Aheadworks\Wbtab\Model\Source\ProductPageBlock\Position</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="block_layout" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Layout</label>
                    <source_model>Aheadworks\Wbtab\Model\Source\BlockLayout</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="products_limit" translate="label" type="text" sortOrder="47" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max Products to Display</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enable">1</field>
                        <field id="block_layout" separator=",">multiple_rows,slider</field>
                    </depends>
                </field>
                <field id="display_add_to_cart" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display "Add to Cart" Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="catalog_page" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Block at Catalog Page</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Block at Catalog Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="block_name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Name</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="block_position" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Position</label>
                    <source_model>Aheadworks\Wbtab\Model\Source\CatalogPageBlock\Position</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="block_layout" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Layout</label>
                    <source_model>Aheadworks\Wbtab\Model\Source\BlockLayout</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="products_limit" translate="label" type="text" sortOrder="47" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max Products to Display</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enable">1</field>
                        <field id="block_layout" separator=",">multiple_rows,slider</field>
                    </depends>
                </field>
                <field id="display_add_to_cart" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display "Add to Cart" Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="cart_page" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Block at Cart Page</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Block at Cart Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="block_name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Name</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="block_position" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Position</label>
                    <source_model>Aheadworks\Wbtab\Model\Source\CartPageBlock\Position</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="block_layout" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Layout</label>
                    <source_model>Aheadworks\Wbtab\Model\Source\BlockLayout</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="products_limit" translate="label" type="text" sortOrder="47" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max Products to Display</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enable">1</field>
                        <field id="block_layout" separator=",">multiple_rows,slider</field>
                    </depends>
                </field>
                <field id="display_add_to_cart" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display "Add to Cart" Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
